@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..300;1,100..300&family=Syne:ital,wght@0,400..800;1,400..800&display=swap');

:root {
  --color-primary: #BBFF00;
  --color-secondary: #0F0F0F;
  --color-tertiary: #dcdcdc;
}

html {   
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
  font-family: 'Inter', sans-serif;
  font-weight: 300;
  letter-spacing: -0.05em;
  overflow-x: hidden;
}

.wrapper {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  padding: 0 2rem;
}

.container {
  padding-top: 6.5rem;
  padding-bottom: 6.5rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Syne', sans-serif;
  font-weight: 500;
}

button.cta-lime, button.cta-arrow, .cta-outline {
  font-size: 1rem;
  font-weight: 150;
  border-radius: 25px;
  padding: 0.5rem 1rem;
  border: none;
}

button.cta-lime {
  background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
}

button.cta-arrow {
  background-color: transparent;
  color: var(--color-tertiary);
  padding: 1rem;
}

button.cta-lime:hover {
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  background-color: var(--color-secondary);
}

button.cta-arrow:hover {
  color: var(--color-primary); /* text color changes */
}

button.cta-arrow:hover svg path {
  stroke: var(--color-primary); /* svg stroke changes */
}

button.cta-outline:hover {
  background-color: var(--color-primary);
  color: var(--color-secondary);
}

button.cta-outline:hover svg path {
  stroke: var(--color-secondary);
}


.cta-outline {
  background-color: transparent;
  border: 1px solid var(--color-primary);
  color: var(--color-primary);
  margin-right: 1rem;
}

#header {
  height: 140px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  width: 100%;
  background: transparent;
  z-index: 10;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: transparent;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: clamp(20px, 5vw, 80px);
  padding: 0;
  margin: 0;
}

.language-switch {
  display: flex;
  gap: 8px;
}

.lang-btn {
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  color: var(--color-tertiary);
}

.lang-btn:hover {
  background: transparent;
  color: var(--color-tertiary);
}

a {
  text-decoration: none;
  color: var(--color-tertiary);
}

a:hover {
  color: var(--color-primary);
}

ul {
  list-style: none;
}

#hero {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

#hero-text {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  width: 100%;
  max-width: 800px;
  margin: 0;
  gap: 0.9rem;
}

#hero-bottom {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  font-size: 0.9rem;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vw;
  left: 50%;
  transform: translateX(-50%);
  max-width: 1200px;
}

#hero-text h1 {
  font-size: clamp(2.5rem, 6vw, 4.5rem);
  line-height: 0.9;
  margin: 0;
  letter-spacing: -2px;
}

span.service-number {
  color: var(--color-primary);
  margin-right: 0.5rem;
  font-size: 2rem;
  font-weight: 100;
}

.service-heading {
  display: flex;
  align-items: baseline;
  gap: 0.5rem;
}

h2.title {
  font-size: 3rem;
  margin-bottom: 1.5rem;
}

div.service {
  margin-bottom: 6rem;
}

.project-title {
  font-size: 1.1rem;
  font-weight: 600;
}

#about .cta-lime {
  margin-top: 1.9rem;
}

#contact {
  background-color: #BBFF00;
  background-image: url(./contact.webp);
  background-size: 100% 100%;
  border-radius: 20px;
  color: var(--color-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
  width: 90%;
}

.service-title {
  font-family: 'Inter';
  font-size: clamp(2rem, 6vw, 3rem);
  font-weight: 200;
  letter-spacing: -1px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 700px;
  margin: 0 auto;
  margin-top: 1rem;
}

#contact p {
  width: 80%;
  text-align: center;
  margin-bottom: 0.5rem;
}

#contact .title {
  margin-bottom: 0;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.8rem 1rem;
  border: none;
  border-radius: 6px;
  font-size: 1rem;
  background-color: #1a1a1a;
  color: white;
}

.contact-form textarea {
  min-height: 150px;
  resize: vertical;
}

.contact-row {
  display: flex;
  gap: 1rem;
}

.contact-row input {
  flex: 1;
}

.send-btn {
  align-self: center;
  background-color: transparent;
  color: var(--color-secondary);
  border: 1px solid var(--color-secondary);
  border-radius: 999px;
  padding: 0.6rem 1.6rem;
  font-size: 20px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.send-btn:hover {
  background-color: var(--color-secondary);
  color: var(--color-tertiary);
}

footer {
  height: 400px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer.wrapper {
  padding-left: 5.5rem;
  padding-right: 5.5rem;
}

.burger {
  display: none;
  flex-direction: column;
  gap: 6px;
  cursor: pointer;
  z-index: 1001;
  margin-left: 16px;
}

.burger span {
  width: 26px;
  height: 2px;
  background-color: var(--color-tertiary);
  transition: all 0.4s ease;
  transform-origin: center;
}

.burger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.burger.active span:nth-child(2) {
  opacity: 0;
}

.burger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

.lang-mobile {
  display: none;
}

.container h2 {
  font-size: clamp(2.5rem, 6vw, 3.5rem);
}

/* Mobile Styles */
@media (max-width: 768px) {
  .nav-links {
    position: fixed;
    top: 0;
    right: -100%;
    height: 100vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--color-primary);
    padding: 3rem;
    gap: 24px;
    box-shadow: -2px 0 20px rgba(0, 0, 0, 0.05);
    transition: right 0.4s ease;
    z-index: 1000;
  }

  .nav-links.active {
    right: 0;
  }

  .burger {
    display: flex;
  }

  .lang-mobile {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 20px;
  }

   .language-switch-desktop {
    display: none !important;
  }

  .nav-links a,
  .lang-btn {
    color: black !important;
    font-size: 1.2rem;
  }

  .send-btn {
    font-size: 1.1rem;
    padding: 0.6rem 1.4rem;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 1rem;
    padding: 1rem;
  }

  footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: auto;
    gap: 1.5rem;
  }

  footer.wrapper {
    margin-top: 2.5rem;
    margin-bottom: 2.5rem;
  }
}


.projects-wrapper {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem;
}

#projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 2rem; /* medium gap */
}

.project {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.project-img {
  height: 250px;
  background: var(--color-secondary);
  border-radius: 8px;
}

.project-title {
  font-size: 1.2rem;
  font-weight: 600;
}

.project-description {
  color: #7c7c7c;
  font-size: 0.95rem;
}

.project-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}



.cta-lime-link,
.cta-arrow-link {
  display: inline-block;
  text-decoration: none;
}
